head
	title Kryptonite
	meta(charset="UTF-8")
	meta(name="robots" content="follow")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/tweetnacl/0.14.3/nacl-fast.min.js")
	script(src="https://cdn.jsdelivr.net/gh/dchest/tweetnacl-util-js/nacl-util.js")
body
	.틀
		+account
		+chat
